* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    background-color: #f4f4f4;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.side-panel {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: #0056b3;
}

button {
    background-color: #0056b3;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #00409b;
}

button:disabled {
    background-color: #d1d1d1;
    cursor: not-allowed;
}

#distanceResult {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}
